

.contact-body
  background-color: #141414
  width: 100%
  margin-top: 18rem
  padding-bottom: 10rem

  .custom-shape-divider-bottom-1689915145
    position: relative
    bottom: 125px
    width: 100%
    overflow: hidden
    line-height: 0
    transform: rotate(180deg)

    svg
      position: relative
      display: block
      width: calc(100% + 1.3px)
      height: 125px

    .shape-fill
      fill: #141414


  .contact-content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .text-contact
      position: relative
      bottom: 2.6rem

      h2
        color: #fff
        font-size: 3rem
        font-family: "M PLUS Rounded 1c", sans-serif
        font-weight: 600

      p
        color: #fff
        font-family: "Rubik", sans-serif
        font-weight: 400
        font-size: 1.1rem
        width: 800px

        @media (max-width: 900px)
          width: 600px

        @media (max-width: 602px)
          width: 300px

    .icons-contact
      display: flex
      width: 80%
      gap: 6rem
      flex-wrap: wrap
      justify-content: center
      margin-top: 4.8rem


      @media (max-width: 1622px)
        width: 100%
