
<div class="main-about-me">

  <div class="info-wrap">

    <app-text-box
    textTitle="Quien soy?"
    textContent="Soy Manuel Antonio un desarrollador web Full-Stack Mexicano de 18 años de edad y"
    ></app-text-box>

    <app-text-box
    textTitle="por que desarrollador?"
    textContent=""
    ></app-text-box>

    <app-text-box
    textTitle="Aptitudes"
    textContent=""
    ></app-text-box>

  </div>

  <div class="info-wrap">

    <div class="tech-text">
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>React</li>
        <li>Angular</li>
        <li>MySQL</li>
      </ul>
    </div>

    <div class="tech-icons">

      <!-- el plan es que giren alrededor de un eje -->

    </div>

  </div>

</div>
