
<section class="main-about-me" id="aboutme-section">

  <div class="info-wrap">

    <app-text-box
      textTitle="¿Quien soy?"
      textContent='Desarrollador web de {{ acutalAge }} años autodidacta aunque hoy en dia me encuentro cursando una carrera en "Ingenieria De Software", solia ser cocinero y me sigue gustando la cocina, pero sin duda los 0 y 1 se robaron mi corazon, me e enfocado en el desarrollo web Full-Stack y abierto a nuevos proyectos, tecnologias y desarrollos.'
    ></app-text-box>

    <!-- <app-text-box
      textTitle="¿Por qué desarrollador?"
      textContent="Mi fascinación por la programación y el desarrollo comenzó desde que era un niño, ya que mis padres adquirieron una computadora y sin ayuda de nadie aprendí a utilizarla y en el camino de ver tutoriales y la curiosidad de saber cómo se hacían los programas que abría descubrí la programación. Tristemente me tuve que despedir de esa computadora pero unos años después a mis 16 años adquirí otra con la que empecé a experimentar con el software y así he seguido construyendo mi historia en el ámbito."
      ></app-text-box> -->

  </div>

</section>
