
<section class="main-about-me animate__animated animate__fadeIn animate__delay-1s" id="aboutme-section">

  <div class="info-wrap">

    <app-text-box
      textTitle="¿Quien soy?"
      textContent="desarrollador web mexicano de 18 años de edad apasionado por la tecnología en todo ámbito. Especializado en el desarrollo web como Desarrollor FullStack con tecnologías como React, Angular, Java, etc.. abierto a la oportunidad a de aprender nuevas tecnologías y herramientas que surjan con el paso del tiempo."
    ></app-text-box>

    <!-- <app-text-box
      textTitle="¿Por qué desarrollador?"
      textContent="Mi fascinación por la programación y el desarrollo comenzó desde que era un niño, ya que mis padres adquirieron una computadora y sin ayuda de nadie aprendí a utilizarla y en el camino de ver tutoriales y la curiosidad de saber cómo se hacían los programas que abría descubrí la programación. Tristemente me tuve que despedir de esa computadora pero unos años después a mis 16 años adquirí otra con la que empecé a experimentar con el software y así he seguido construyendo mi historia en el ámbito."
      ></app-text-box> -->

  </div>

</section>
