
.text-box-container
  margin-bottom: 3rem
  position: relative
  border-radius: 12px
  bottom: 0
  box-shadow: none
  transition-property: box-shadow, bottom
  transition-duration: 0.5s

.text-box-container:hover
  bottom: 0.3rem
  box-shadow: #653793 0.3rem 0.2rem 2rem


.text-box-wrap

  background-color: #1f1f1f
  margin-top: 20px
  margin-bottom: 40px
  padding: 20px
  border-radius: 12px
  box-shadow: #131313 10px 10px 0

.text-box-title

  h3
    color: #fff
    font-size: 2.5rem
    font-family: 'M PLUS Rounded 1c', sans-serif
    font-weight: 600

.text-box-content
  margin-top: 0.4rem

  p
    color: #fff
    font-family: 'Rubik', sans-serif
    font-weight: 400
    font-size: 1.1rem
