

.text-box-container
  background-color: #1f1f1f
  margin: 10px 180px
  padding: 20px
  border-radius: 12px
  box-shadow: #131313 10px 10px 0

.text-box-title

  h3
    color: #fff

.text-box-content

  p
    color: #fff
