
.text-box-container
  position: relative
  border-radius: 12px
  bottom: 0
  box-shadow: none
  transition-property: box-shadow, bottom
  transition-duration: 1s

.text-box-container:hover
  bottom: 1.2rem
  box-shadow: #653793 0.3rem 0.2rem 2rem



.text-box-wrap
  width: 400px
  height: 300px
  background-color: #1f1f1f
  margin-top: 20px
  margin-bottom: 40px
  padding: 20px
  border-radius: 12px
  box-shadow: #131313 10px 10px 0

.text-box-title

  h3
    color: #fff
    font-size: 2rem
    font-family: "Inconsolata", monospace
    font-weight: 400

.text-box-content

  margin-top: 1.2rem

  p
    color: #fff
    font-family: "Roboto", sans-serif
    font-weight: 400
