
$time: 0.8s

.simulateHover
  transform: skew(0deg, 1deg) scale(1.05) !important

.card-body
  margin: 1rem
  width: 12rem
  background-color: #1f1f1f
  border-radius: 1rem
  display: flex
  align-items: center
  text-align: center
  padding: 0.5rem
  transition-property: box-shadow, transform
  transition-duration: $time
  transform: skew(0deg, 0deg) scale(1)

  &:hover
    transform: skew(0deg, 1deg) scale(1.05)

  p
    width: 50%
    font-size: 1.4rem
    transition-property: color
    transition-duration: $time
    font-family: 'Chivo', sans-serif

  .tech-ico
    width: 50%
    display: flex
    justify-content: center
    align-items: center

    img
      width: 52%
      height: auto
