
.main-technologies
  margin-top: 3rem
  margin-bottom: 3rem
  display: flex
  justify-content: center
  align-items: center
  width: 100%

.tech-cards
  width: 70%
  display: flex
  justify-content: space-around
  flex-wrap: wrap
