
<section class="main-technologies">

  <div class="tech-cards">

    <app-tech-card techName="Angular" techColor="#dc0030"></app-tech-card>

    <app-tech-card techName="Bash" techColor="#2f3a3e"></app-tech-card>

    <app-tech-card techName="Css" techColor="#264de4"></app-tech-card>

    <app-tech-card techName="Express" techColor="#000000"></app-tech-card>

    <app-tech-card techName="HTML" techColor="#e44f26"></app-tech-card>

    <app-tech-card techName="Java" techColor="#4f7b98"></app-tech-card>

    <app-tech-card techName="JavaScript" techColor="#f1dc50"></app-tech-card>

    <app-tech-card techName="MySql" techColor="#0083a0"></app-tech-card>

    <app-tech-card techName="NodeJs" techColor="#62b346"></app-tech-card>

    <app-tech-card techName="React" techColor="#00d7fd"></app-tech-card>

    <app-tech-card techName="Spring" techColor="#6db33f"></app-tech-card>

    <app-tech-card techName="TypeScript" techColor="#007acc"></app-tech-card>

  </div>


  <div class="tech-icons">

  </div>

</section>

