
.main-technologies
  margin-top: 4rem
  margin-bottom: 3rem
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  width: 100%

.tech-cards
  width: 100%
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  flex-wrap: wrap

  h2
    color: #fff
    font-family: "M PLUS Rounded 1c", sans-serif
    font-weight: 600
    margin-top: 2rem
    margin-bottom: 1rem
    text-align: center

  .transporter
    display: flex
    justify-content: center
    flex-wrap: wrap
    background-color: #181818
    margin-bottom: 1.2rem
    border-radius: 1.5rem

    @media (max-width: 1388px)
      max-width: 66%

    @media (max-width: 1091px)
      max-width: 72%

    @media (max-width: 1000px)
      max-width: 80%

    @media (max-width: 780px)
      max-width: 90%

    @media (max-width: 684px)
      max-width: 68%

    @media (max-width: 610px)
      max-width: 26rem

    @media (max-width: 432px)
      max-width: 15rem

.tech-text
  width: 64%
  color: #fff
  margin-bottom: 3rem
  text-align: justify

  @media (max-width: 1242px)
    width: 86%

  h3
    font-size: 2.5rem
    font-family: "M PLUS Rounded 1c", sans-serif
    font-weight: 600
    margin-bottom: 1rem

    @media (max-width: 868px)
      font-size: 2rem

    @media (max-width: 520px)
      font-size: 1.5rem

  p
    font-family: "Rubik", sans-serif
    font-weight: 400
    font-size: 1.1rem
    margin-bottom: 0.8rem

    @media (max-width: 404px)
      font-size: 1rem

