




<section class="main-technologies">

  <div class="tech-text">

    <h3>Conocimientos y tecnologias</h3>

    <p>
      Empeze en la programacion aprendiendo python, debido a su uso general y rapido entendimiento, poco a poco me empeze a adentrar en el desarrollo web donde despues de todos los conocimientos basicos tales como HTML, CSS y JavaScript, poco a poco fui avanzando y empeze con los Frameworks, me decidi por React y Angular, aunque no descarto aprender mas en algun momento claro!.
    </p>

    <p>
      Asi continue adentrandome en el desarrollo backend donde me interese en Springboot y expressjs, continuo aprendiendo y solidificando mis conocimientos, siempre con el objetivo de ser un mejor desarrollador y aumentar mi valor profesional.
    </p>

  </div>

  <div #techCards class="tech-cards">

    <h2>FRONT-END</h2>

    <div class="transporter front-technologies">
      <app-tech-card techName="HTML" techColor="#e44f26"></app-tech-card>
      <app-tech-card techName="Css" techColor="#264de4"></app-tech-card>
      <app-tech-card techName="JavaScript" techColor="#f1dc50"></app-tech-card>
      <app-tech-card techName="React" techColor="#00d7fd"></app-tech-card>
      <app-tech-card techName="Angular" techColor="#dc0030"></app-tech-card>
    </div>

    <h2>BACK-END</h2>

    <div class="transporter back-techonologies">
      <app-tech-card techName="NodeJs" techColor="#62b346"></app-tech-card>
      <app-tech-card techName="Express" techColor="#000000"></app-tech-card>
      <app-tech-card techName="Java" techColor="#4f7b98"></app-tech-card>
      <app-tech-card techName="Spring" techColor="#6db33f"></app-tech-card>
      <app-tech-card techName="MySql" techColor="#0083a0"></app-tech-card>
    </div>

    <h2>OTRAS TECNOLOGIAS</h2>

    <div class="transporter other-techonologies">
      <app-tech-card techName="TypeScript" techColor="#007acc"></app-tech-card>
      <app-tech-card techName="Bash" techColor="#2f3a3e"></app-tech-card>
    </div>

  </div>

</section>

