
.title-h-wrap
  color: #fff
  font-size: 80px
  font-family: 'Inconsolata', monospace
  font-weight: 400
  text-decoration: underline
  transition-property: font-size
  transition-duration: 1s

  animation-name: zoomInOut
  animation-delay: 3.5s
  animation-duration: 1s

  @media (max-width: 1400px)
    font-size: 70px

  @media (max-width: 1200px)
    font-size: 60px

  @media (max-width: 1090px)
    font-size: 50px

@mixin transition-property($property...)
    -moz-transition-property:    $property
    -o-transition-property:      $property
    -webkit-transition-property: $property
    transition-property:         $property

@mixin transition-duration($duration...)
    -moz-transition-duration:    $duration
    -o-transition-duration:      $duration
    -webkit-transition-duration: $duration
    transition-duration:         $duration

.title-h-wrap span
  position: relative
  cursor: pointer
  bottom: 0rem
  @include transition-property(bottom)
  @include transition-duration(0.2s)

.title-h-wrap span:hover
  bottom: 1.2rem

.sub-title
  margin-top: 10px
  color: #fff
  font-size: 30px
  font-family: 'Inconsolata', monospace

  span
    animation-name: flicker
    animation-duration: 4s
    animation-iteration-count: infinite

.sub-title h3
  font-weight: 600
  transition: font-size
  transition-duration: 1s

  @media (max-width: 1200px)
    font-size: 26px

  @media (max-width: 1090px)
    font-size: 24px


@keyframes flicker
  0%
    color: #fff
  50%
    color: rgb(116, 84, 210)
  100%
    color: #fff


@keyframes jump
  0%
    bottom: 0rem
  50%
    bottom: 1.2rem
  100%
    bottom: 0rem

@mixin jumpAnimation($time)
  animation-name: jump
  animation-duration: 0.4s
  animation-delay: $time

.t-1
  @include jumpAnimation(0.5s)
.t-2
  @include jumpAnimation(0.7s)
.t-3
  @include jumpAnimation(0.9s)
.t-4
  @include jumpAnimation(1.1s)
.t-5
  @include jumpAnimation(1.3s)
.t-6
  @include jumpAnimation(1.5s)
.t-7
  @include jumpAnimation(1.7s)
.t-8
  @include jumpAnimation(1.9s)
.t-9
  @include jumpAnimation(2.1s)
.t-10
  @include jumpAnimation(2.3s)
.t-11
  @include jumpAnimation(2.5s)
.t-12
  @include jumpAnimation(2.7s)
.t-13
  @include jumpAnimation(2.9s)
.t-14
  @include jumpAnimation(3.1s)
.t-15
  @include jumpAnimation(3.3s)

@keyframes zoomInOut
  0%
    font-size: 80px
  50%
    font-size: 70px
  80%
    font-size: 90px
  100%
    font-size: 80px
