

<section class="projects-wrapper">
  <div class="projects-wrap">

    <div class="projects-title">
      <h3>Mis Proyectos</h3>
    </div>

    <div class="project-cards-wrap">

      <a [href]="project.url" target="_blank" *ngFor="let project of projects, index as i" [class]=" 'project-card-main ' + (i % 2 == 0 ? 'p-left' : 'p-right') ">
        <div class="project-card-wrap">
          <div class="project-img">
            <img src="./assets/images/projects/{{ project.image }}" alt="">
            <div class="project-text">
              <div class="project-title">
                <h4>{{ project.name }}</h4>
              </div>
              <div class="build-technologies">
                <div class="tech-in-project" *ngFor="let tech of project.technologies">
                  <img [ngSrc]="'../../../assets/images/tech-icons/' + tech.toLowerCase() + '.png'" [alt]="'Logo de ' + tech" width="30" height="30">
                </div>
              </div>
            </div>

          </div>
        </div>
      </a>

    </div>
  </div>
</section>

