
@mixin purpleGlass()
  background: rgba(83, 22, 159, 0.13)
  border-radius: 16px
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  backdrop-filter: blur(7.7px)
  -webkit-backdrop-filter: blur(7.7px)
  border: 1px solid rgba(83, 22, 159, 0.5)

@mixin blackGlass()
  background: rgba(38, 38, 38, 0.13)
  border-radius: 16px
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  backdrop-filter: blur(7.7px)
  -webkit-backdrop-filter: blur(7.7px)
  border: 1px solid rgba(77, 77, 77, 0.5)

.projects-wrapper
  display: flex
  justify-content: center
  align-items: center
  width: 100%

  .projects-wrap
    max-width: 1920px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .p-left
      align-self: flex-start
      transform: skew(0deg, -0.7deg)
      left: 10%

    .p-right
      align-self: flex-end
      transform: skew(0deg, 0.7deg)
      right: 10%

  .projects-title
    width: 100%
    margin-top: 20px
    margin-bottom: 40px
    display: flex
    justify-content: center
    align-items: center

    h3
      color: #fff
      font-size: 2.5rem
      font-family: "Sometype Mono", monospace
      font-weight: 600

      @media (max-width: 868px)
        font-size: 2rem

  .project-cards-wrap
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 90%
    gap: 1rem


.project-card-main-new
  @include blackGlass()
  position: relative
  width: 900px
  padding: 2rem
  text-decoration: none

  .project-card-wrap
    width: 100%
    display: flex

    .project-img
      width: 384px
      height: 200px
      border-radius: 0.5rem
      overflow: hidden

      img
        width: 100%
        object-fit: cover
        border-radius: 0.5rem
        transition-property: transform
        transition-duration: 0.6s
        transform: scale(1)

        &:hover
          transform: scale(1.1)

    .project-text
      position: relative
      width: 460px
      padding-left: 3rem
      font-family: "Rubik", sans-serif
      color: #fff

      .project-title
        font-size: 1.5rem

      .project-description
        padding: 1rem 0
        font-size: 1rem


.build-technologies
  display: flex
  flex-wrap: wrap
  align-items: center
  gap: 12px

  .tech-in-project

    color: #fff
    padding: 0.8rem
    @include purpleGlass()
