
$purple:#692c81
$withe: #fff

.intro
  margin-top: 12rem
  margin-bottom: 8rem
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  transition-property: margin-top
  transition-duration: 1s

  @media (max-width: 950px)
    margin-top: 4rem
    flex-direction: column-reverse

  .left-intro
    font-family: 'Inconsolata', monospace
    font-weight: 400
    text-align: center
    width: 50%

    transition-property: margin-top
    transition-duration: 1s

    position: relative
    top: 2rem

    @media (max-width: 950px)
      width: 100%
      margin-top: 2rem

  .image-intro
    position: relative
    z-index: 10
    bottom: 8rem
    width: 50%
    display: flex
    justify-content: center

    @media (max-width: 950px)
      width: 100%
      bottom: 0rem

  .image-wrap
    display: flex
    justify-content: center

    img
      box-shadow: #653793 0rem 0rem 4rem
      border-radius: 50%
      width: 100%
      height: auto

      transition-property: width
      transition-duration: 1s

      @media (max-width: 1400px)
        width: 88%

      @media (max-width: 1200px)
        width: 68%

      @media (max-width: 950px)
        width: 76%

@mixin cConfig($top, $left)
  position: absolute
  top: $top
  left: $left


// maximun values for circles
// top: 84.5%
// left: 92%

.c-1
  @include cConfig(34rem, 110rem)

.c-2
  @include cConfig(9rem, 6rem)

.c-3
  @include cConfig(160rem, 102rem)

.c-4
  @include cConfig(34rem, 40rem)

.c-5
  @include cConfig(10rem,96rem)

.c-6
  @include cConfig(48rem, 8rem)

.c-7
  @include cConfig(70rem, 19rem)

.c-8
  @include cConfig(62rem, 68rem)

.c-9
  @include cConfig(90rem, 81rem)

.c-10
  @include cConfig(108rem, 2rem)

.c-11
  @include cConfig(130rem, 82rem)

.c-12
  @include cConfig(115rem, 99rem)

.c-13
  @include cConfig(118rem, 23rem)

.c-14
  @include cConfig(148rem, 23rem)

.c-15
  @include cConfig(188rem, 5rem)

.c-16
  @include cConfig(195rem, 85rem)

.c-17
  @include cConfig(158rem, 43rem)

.c-18
  @include cConfig(149rem, 59rem)

.c-19
  @include cConfig(205rem, 51rem)

.c-20
  @include cConfig(92rem, 43rem)


.scroll-down-description
  cursor: pointer
  width: 3.5rem
  height: 3.5rem
  fill: #0d0d0d

.css-filter
  filter: drop-shadow(1px 0 1px #692c81) drop-shadow(-1px 0 1px #692c81) drop-shadow(0 1px 1px #692c81) drop-shadow(0 -1px 1px #692c81) drop-shadow(0.5px 0 1px #692c81) drop-shadow(-0.5px 0 1px #692c81) drop-shadow(0 -0.5px 1px #692c81) drop-shadow(0 0.5px 1px #692c81)
