
$purple:#692c81
$withe: #fff

.main-home
  overflow: hidden

.intro
  margin-top: 12rem
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  transition-property: margin-top
  transition-duration: 1s

  @media (max-width: 950px)
    margin-top: 4rem
    flex-direction: column-reverse

  .left-intro
    font-family: 'Inconsolata', monospace
    font-weight: 400
    text-align: center
    width: 50%

    transition-property: margin-top
    transition-duration: 1s

    @media (max-width: 950px)
      width: 100%
      margin-top: 2rem

  .image-intro
    position: relative
    z-index: 10
    bottom: 8rem
    width: 50%
    display: flex
    justify-content: center

    @media (max-width: 950px)
      width: 100%
      bottom: 0rem

  .image-wrap
    display: flex
    justify-content: center

    img
      box-shadow: #653793 0rem 0rem 4rem
      border-radius: 50%
      width: 84%
      height: auto

      transition-property: width
      transition-duration: 1s

      @media (max-width: 1400px)
        width: 88%

      @media (max-width: 1200px)
        width: 68%

      @media (max-width: 950px)
        width: 76%

@mixin circle_conf($name, $duration)
  position: absolute
  animation-name: $name
  animation-duration: $duration
  animation-iteration-count: infinite
  animation-timing-function: linear

.c-1
  @include circle_conf($name: ca1 , $duration: 28s)

.c-2
  @include circle_conf($name: ca2 , $duration: 38s)

.c-3
  @include circle_conf($name: ca3 , $duration: 24s)

.c-4
  @include circle_conf($name: ca4 , $duration: 32s)


//  c-5 to c-12 not have animation

.c-5
  @include circle_conf($name: ca5 , $duration: 28s)

.c-6
  @include circle_conf($name: ca6 , $duration: 38s)

.c-7
  @include circle_conf($name: ca7 , $duration: 24s)

.c-8
  @include circle_conf($name: ca8 , $duration: 32s)

.c-9
  @include circle_conf($name: ca9 , $duration: 28s)

.c-10
  @include circle_conf($name: ca10 , $duration: 38s)

.c-11
  @include circle_conf($name: ca11 , $duration: 24s)

.c-12
  @include circle_conf($name: ca12 , $duration: 32s)

@keyframes ca1
  0%
    left: -20vw
    top: 11vh
  99.99%
    left: 100vw
    top: 90vh
  100%
    left: -20vw

@keyframes ca2
  0%
    left: 120vw
    top: 11vh
  99.99%
    left: 0vw
    top: 36vh
  100%
    left: 120vw

@keyframes ca3
  0%
    left: -20vw
    top: 94vh
  99.99%
    left: 100vw
    top: 56vh
  100%
    left: -20vw

@keyframes ca4
  0%
    left: -20vw
    top: 48vh
  99.99%
    left: 100vw
    top: -10vh
  100%
    left: -20vw


// change here this anmim,ations

@keyframes ca5
  0%
    left: -20vw
    top: 88vh
  99.99%
    left: 100vw
    top: 120vh
  100%
    left: -20vw

@keyframes ca6
  0%
    left: -20vw
    top: 118vh
  99.99%
    left: 100vw
    top: 60vh
  100%
    left: -20vw

@keyframes ca7
  0%
    left: -20vw
    top: 158vh
  99.99%
    left: 100vw
    top: 120vh
  100%
    left: -20vw

@keyframes ca8
  0%
    left: -20vw
    top: 48vh
  99.99%
    left: 100vw
    top: -10vh
  100%
    left: -20vw

@keyframes ca9
  0%
    left: -20vw
    top: 48vh
  99.99%
    left: 100vw
    top: -10vh
  100%
    left: -20vw

@keyframes ca10
  0%
    left: -20vw
    top: 48vh
  99.99%
    left: 100vw
    top: -10vh
  100%
    left: -20vw

@keyframes ca11
  0%
    left: -20vw
    top: 48vh
  99.99%
    left: 100vw
    top: -10vh
  100%
    left: -20vw

@keyframes ca12
  0%
    left: -20vw
    top: 48vh
  99.99%
    left: 100vw
    top: -10vh
  100%
    left: -20vw


.arrow-down
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  transition-property: margin-top
  transition-duration: 1s

  position: relative
  top: -1rem

  @media (max-width: 950px)
    margin-top: 3rem

.scroll-down-description
  cursor: pointer
  width: 3.5rem
  height: 3.5rem
  fill: #0d0d0d

.css-filter
  filter: drop-shadow(1px 0 1px #692c81) drop-shadow(-1px 0 1px #692c81) drop-shadow(0 1px 1px #692c81) drop-shadow(0 -1px 1px #692c81) drop-shadow(0.5px 0 1px #692c81) drop-shadow(-0.5px 0 1px #692c81) drop-shadow(0 -0.5px 1px #692c81) drop-shadow(0 0.5px 1px #692c81)
