

<app-nav></app-nav>

<main class="main-home">

  <app-circle [repitIn]="1.8" class="c-1"></app-circle>
  <app-circle [repitIn]="2" class="c-2"></app-circle>
  <app-circle [repitIn]="3" class="c-3"></app-circle>
  <app-circle [repitIn]="1.8" class="c-4"></app-circle>

  <app-circle [repitIn]="2.2" class="c-5"></app-circle>
  <app-circle [repitIn]="2" class="c-6"></app-circle>
  <app-circle [repitIn]="3" class="c-7"></app-circle>
  <app-circle [repitIn]="1.8" class="c-8"></app-circle>

  <app-circle [repitIn]="1.8" class="c-9"></app-circle>
  <app-circle [repitIn]="1.8" class="c-10"></app-circle>
  <app-circle [repitIn]="2.6" class="c-11"></app-circle>
  <app-circle [repitIn]="3.2" class="c-12"></app-circle>

  <app-circle [repitIn]="1.8" class="c-13"></app-circle>
  <app-circle [repitIn]="2.4" class="c-14"></app-circle>
  <app-circle [repitIn]="2.2" class="c-15"></app-circle>
  <app-circle [repitIn]="1.8" class="c-16"></app-circle>

  <app-circle [repitIn]="1.8" class="c-17"></app-circle>
  <app-circle [repitIn]="2.4" class="c-18"></app-circle>
  <app-circle [repitIn]="2.2" class="c-19"></app-circle>
  <app-circle [repitIn]="1.8" class="c-20"></app-circle>

  <section class="intro">

    <div class="left-intro">
      <app-title></app-title>
    </div>

    <div class="image-intro">
      <div class="image-wrap animate__animated animate__fadeInUp">
        <img ngSrc="../../../assets/images/me.jpeg" alt="" width="612" height="612">
      </div>
    </div>

  </section>

  <app-about-me></app-about-me>

  <app-tech-section></app-tech-section>

  <app-proyects></app-proyects>

  <app-contact></app-contact>

</main>

