

<app-nav></app-nav>

<main class="main-home">

  <div class="intro">

    <app-circle [left]="leftStyle" [top]="topStyle"></app-circle>

    <div class="left-intro">
      <app-title></app-title>
    </div>

    <div class="image-intro">
      <div class="image-wrap">

<!--        <app-circle [left]="" [top]=""></app-circle>-->
<!--        <app-circle [left]="" [top]=""></app-circle>-->

        <img ngSrc="../../../assets/images/me.jpeg" alt="" width="612" height="612">
      </div>
    </div>

  </div>

  <div class="arrow-down">

  </div>

</main>

