
.portfolio-navbar
  width: 100%
  padding: 0.1rem 0
  height: 4.2rem
  display: flex
  align-items: center
  justify-content: flex-start
  gap: 2rem

  background: rgba(38, 38, 38, 0.13)
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  backdrop-filter: blur(7.7px)
  -webkit-backdrop-filter: blur(7.7px)
  border-bottom: 1px solid rgba(77, 77, 77, 0.5)

  @media (max-width: 420px)
    justify-content: space-evenly
    gap: 0


.intern-link:first-child
  margin-left: 2rem

  @media (max-width: 420px)
    margin-left: 0

.intern-link

  a
    transition-property: letter-spacing, color, border
    transition-duration: 0.2s
    color: #dcdcdc
    cursor: pointer
    font-size: 20px
    font-family: 'Roboto', sans-serif
    text-align: center
    padding: 0.6rem 1rem
    border-radius: 300px
    border: 2px solid rgb(192, 176, 255)

    &:hover
      color: #ffffff
      border: 2px solid #714bff
      background-color: rgba(0, 0, 0, 0.04)
