
.portfolio-navbar
  width: 100%
  height: 4.2rem
  display: flex
  align-items: center
  justify-content: flex-start
  gap: 10px
  background-color: #312066

  box-shadow: 2px -70px 167px 0px rgba(101, 55, 147, 0.75)
  -webkit-box-shadow: 2px -70px 167px 0px rgba(101, 55, 147, 0.75)
  -moz-box-shadow: 2px -70px 167px 0px rgba(101, 55, 147, 0.75)

  animation-name: buildShadow
  animation-duration: 1s

@keyframes buildShadow
  0%
    box-shadow: 2px -70px 167px 0px rgba(101, 55, 147, 0)
  100%
    box-shadow: 2px -70px 167px 0px rgba(101, 55, 147, 0.75)



.intern-link
  font-size: 26px
  font-family: 'Roboto', sans-serif
  text-align: center
  // background-color: #131313
  padding: 0.3rem 0rem
  width: 180px
  border-radius: 10px

  @media (max-width: 625px)
    font-size: 25px
    width: 150px

  @media (max-width: 542px)
    font-size: 18px
    width: 100px

  a
    transition-property: letter-spacing, color, text-decoration-line, text-decoration-thickness
    transition-duration: 0.4s
    text-decoration-line: underline
    text-decoration-thickness: 0.1rem
    color: #cbcbcb
    cursor: pointer

    &:hover
      letter-spacing: 1px
      color: #ffffff
      text-decoration: underline
      text-decoration-thickness: 0.2rem

