

<section class="proyects-wrapper">
  <div class="proyects-wrap">

    <div class="proyects-title">
      <h3>Proyectos</h3>
    </div>

    <div class="proyect-cards-wrap">

      <app-proyect-card
        proyectUrl="https://front-tiburon.vercel.app/home"
        proyectImageName="tibuProyect.png"
        proyectName="Tiburon Web Page"
        proyectResume="El Tiburon Burger es un restaurant de hamburguesas gurmet quien buscaba una pagina para mostrarse al mundo y dar un vistazo de los productos que crean"
      ></app-proyect-card>

    </div>

  </div>
</section>

