
.proyects-wrapper
  margin-bottom: 3rem
  display: flex
  justify-content: center
  align-items: center

  .proyects-wrap
    width: 72%
    display: flex
    justify-content: flex-start
    flex-direction: column

    @media (max-width: 1388px)
      width: 92%

  .proyects-title
    margin-top: 20px
    margin-bottom: 40px
    padding: 20px
    display: flex
    justify-content: center
    align-items: center

    h3
      color: #fff
      font-size: 2.5rem
      font-family: "M PLUS Rounded 1c", sans-serif
      font-weight: 600

      @media (max-width: 868px)
        font-size: 2rem

      // @media (max-width: 520px)
      //   font-size: 1.5rem


  .proyect-cards-wrap
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 6rem
