
.proyects-wrapper
  margin-bottom: 3rem
  display: flex
  justify-content: center
  align-items: center

  .proyects-wrap
    width: 72%
    display: flex
    justify-content: flex-start
    flex-direction: column

  .proyects-title
    margin-top: 20px
    margin-bottom: 40px
    padding: 20px
    display: flex
    justify-content: center
    align-items: center

    h3
      color: #fff
      font-size: 3rem
      font-family: "M PLUS Rounded 1c", sans-serif
      font-weight: 600

  .proyect-cards-wrap
    //background-color:
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 2rem
