

<section class="proyects-wrapper">
  <div class="proyects-wrap">

    <div class="proyects-title">
      <h3>Mis Proyectos</h3>
    </div>

    <div class="proyect-cards-wrap">

      <app-proyect-card
        proyectUrl="https://eltiburonburger.vercel.app/home"
        proyectImageName="tibuProyect.png"
        proyectName="El Tiburon pagina web"
        proyectResume="El Tiburon Burger es un restaurant de hamburguesas gurmet quien buscaba una pagina para mostrarse al mundo y dar un vistazo de los productos que crean"
      ></app-proyect-card>

      <app-proyect-card
        proyectUrl="https://github.com/ManuelsSaNt/TiburonPVETs"
        proyectImageName="tiburon_sp.png"
        proyectName="El Tiburon punto de venta"
        proyectResume="El Tiburon Burger es un restaurant de hamburguesas gurmet quien buscaba una pagina para mostrarse al mundo y dar un vistazo de los productos que crean"
      ></app-proyect-card>

    </div>

  </div>
</section>

