
.proyects-wrapper
  margin-bottom: 3rem
  display: flex
  justify-content: center
  align-items: center

  .proyects-wrap
    width: 70%
    display: flex
    justify-content: flex-start
    flex-direction: column

  .proyects-title
    width: fit-content
    margin-top: 20px
    margin-bottom: 40px
    padding: 20px

    h3
      color: #fff
      font-size: 3rem
      font-family: "Inconsolata", monospace
      font-weight: 400

  .proyect-cards-wrap
    background-color: rebeccapurple
