

<section class="proyects-wrapper">
  <div class="proyects-wrap">

    <div class="proyects-title">
      <h3>Mis Proyectos</h3>
    </div>

    <div class="proyect-cards-wrap">

      <div *ngFor="let proyect of proyects" class="proyect-card-main">
        <div class="proyect-card-wrap">
          <div class="proyect-img">
            <img src="./assets/images/proyects/{{ proyect.proyectImageName }}" alt="">
            <img src="./assets/images/proyects/{{ proyect.proyectImageName }}" alt="" *ngIf="proyect.proyectUrl === ''">
            <div class="proyect-text">
              <div class="proyect-title">
                <h4>{{ proyect.proyectName }}</h4>
              </div>

              <div class="proyect-resume">
                <p>{{ proyect.proyectResume }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

