
*
  margin: 0
  padding: 0

html, body
  scroll-behavior: smooth
  background-color: #0e0e0e

  @media (max-width: 700px)
    overflow-x: hidden

.middle-dash
  color: rgb(116, 84, 210)

.body
  position: relative
