
$purple:#653793
$withe: #fff

@mixin circle_conf($delay)
  animation-name: bigSmall
  animation-duration: 1s
  animation-delay: $delay
  animation-iteration-count: infinite
  animation-timing-function: linear


.circle
  overflow: hidden
  animation-iteration-count: infinite
  opacity: 60%
  position: absolute
  z-index: -1
  width: 5rem
  height: 5rem
  padding: 2rem
  border-radius: 50%
  background-color: $purple
  transition-property: height, width
  transition-duration: 1s

  @media (max-width: 1200px)
    width: 3.5rem
    height: 3.5rem

  @media (max-width: 780px)
    width: 3rem
    height: 3rem

  @media (max-width: 530px)
    width: 2rem
    height: 2rem
